---
import Layout from "../layouts/Layout.astro"
import View from "ol/View"
import Map from "ol/Map"
import TileLayer from "ol/layer/Tile"
import OSM from "ol/source/OSM"

import "ol/ol.css"
---

<Layout title="Maps">
  <main>
    <h1>Maps</h1>
    <div id="map-root"></div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
