.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
}

.centered {
  display: flex;
  margin: 0 auto;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.messages {
  display: flex;
  justify-content: space-between;
}

.message {
  max-width: 300px;
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.left {
  text-align: left;
  background-color: bisque;
}

.orbitron {
  font-family: 'Orbitron', sans-serif;
}

h1.orbitron {
  text-align: center;
}
