.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
}

.centered {
  display: flex;
  align-items: center;
}

.centered > * {
  margin: 0 auto;
}

.messages {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.orbitron {
  font-family: 'Orbitron', sans-serif;
}
